@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap) format('woff2');
}

/* universal style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
}

main {
    padding-top: 4rem;
}

section {
    padding: 2rem 0;
}
/* Header */
header {
    padding: 0.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    height: 64px;
}

header figure {
    display: flex;
}

.header-icon {
    height: 2.625rem;
}

header figure figcaption {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: lightgrey;
    letter-spacing: 0.1rem;
}

.colmar-name-header {
    font-weight: 600;
    color: #2b2a2a;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline;
    padding: 1rem;
    font-size: 1.2rem;
    margin: auto 0;
}

header nav ul li img {
    display: none;
}

header nav ul li a {
    text-decoration: none;
    color: #555353;
}

header nav ul li:last-of-type {
    padding-right: 0.5rem;
}

@media only screen and (min-width: 721px) and (max-width:1200px) {
    header figure figcaption {
        font-size: 1.4rem;
    }
    
    header figure figcaption span {
        display: block;
    }
    .header-icon {
        height: 60px;
    }

    header nav ul li {
        text-align: center;
        font-size: 1rem;
    }
    header nav ul li:last-of-type {
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 720px) {
    header {
        padding: 0 1.5rem;
    }
    
    header figure figcaption {
        display: none;
    }
    header nav ul li img {
        display: block;
    }

    .nav-link-text {
        display: none;
    }

    .for-companies-link {
        display: none;
    }
    header figure {
        width: 25%;
    }

    header nav {
        width: 75%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    header nav ul li {
        padding: 0.6em;
    }

    header nav ul li:last-of-type {
        padding-right: 2rem;
    }
}

/* landing */
#landing {
    background: lightgrey;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.landing {
    display: flex;
}

.landing img {
    width: 55%;
    height: auto;
    object-fit: cover;
    flex-shrink:3;
}

figcaption.landing {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 1.5rem;
    justify-content: center;
    max-width: 600px;
    flex-shrink: 2;
}

h1 {
    font-size: 3rem;
    padding: 1rem 0;
    color:#555353;
}

figcaption.landing p {
    font-size: 1.5rem;
    color:#555353;
}

figcaption.landing a {
    display: block;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    padding: 1rem 0;
    background-color:#555353;
    color: #fff;
    text-decoration: none;
    text-align: center;
    max-width: 75%;
}

@media only screen and (max-width: 890px) {
    figure.landing {
        display: flex;
        flex-direction: column;
    }

    .landing img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    figcaption.landing h1 {
        font-size: 2rem;
    }
    figcaption.landing p {
        font-size: 1.2rem;
    }

    figcaption.landing {
        max-width: 90%;
    }

    figcaption.landing a {
        max-width: 100%;
    }

    #landing {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
}

/* Article section */

#articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: 100%;
    height: 400px;
}

img.hero {
    width: 100%;
}

.article-hero {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    flex-shrink: 3
}

figure.article-hero {
    max-width: 60%;
}

.article {
    flex-shrink: 2;
}

.article figure {
    display: flex;
}

.article figure img {
    height: 100px;
}

.article figure figcaption {
    display: flex;
    flex-direction: column;
}