@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap) format('woff2');
}

/* universal style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Verdana, sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
}

main {
    padding-top: 4rem;
}

section {
    padding: 2rem 0;
}
/* Header */
header {
    padding: 0.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    height: 64px;
}

header figure {
    display: flex;
}

.header-icon {
    height: 2.625rem;
}

header figure figcaption {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: lightgrey;
    letter-spacing: 0.1rem;
}

.colmar-name-header {
    font-weight: 600;
    color: #2b2a2a;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline;
    padding: 1rem;
    font-size: 1.2rem;
    margin: auto 0;
}

header nav ul li img {
    display: none;
}

header nav ul li a {
    text-decoration: none;
    color: #555353;
}

header nav ul li:last-of-type {
    padding-right: 0.5rem;
}

@media only screen and (min-width: 721px) and (max-width:1200px) {
    header figure figcaption {
        font-size: 1.4rem;
    }
    
    header figure figcaption span {
        display: block;
    }
    .header-icon {
        height: 60px;
    }

    header nav ul li {
        text-align: center;
        font-size: 1rem;
    }
    header nav ul li:last-of-type {
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 720px) {
    header {
        padding: 0 1.5rem;
    }
    
    header figure figcaption {
        display: none;
    }
    header nav ul li img {
        display: block;
    }

    .nav-link-text {
        display: none;
    }

    .for-companies-link {
        display: none;
    }
    header figure {
        width: 25%;
    }

    header nav {
        width: 75%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    header nav ul li {
        padding: 0.6em;
    }

    header nav ul li:last-of-type {
        padding-right: 2rem;
    }
}

/* landing */
#landing {
    background: lightgrey;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.landing {
    display: flex;
}

.landing img {
    width: 55%;
    height: auto;
    object-fit: cover;
    flex-shrink:3;
}

figcaption.landing {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 1.5rem;
    justify-content: center;
    max-width: 600px;
    flex-shrink: 2;
}

h1 {
    font-size: 3rem;
    padding: 1rem 0;
    color:#555353;
}

figcaption.landing p {
    font-size: 1.5rem;
    color:#555353;
}

figcaption.landing a {
    display: block;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    padding: 1rem 0;
    background-color:#555353;
    color: #fff;
    text-decoration: none;
    text-align: center;
    max-width: 75%;
}

@media only screen and (max-width: 890px) {
    figure.landing {
        display: flex;
        flex-direction: column;
    }

    .landing img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    figcaption.landing h1 {
        font-size: 2rem;
    }
    figcaption.landing p {
        font-size: 1.2rem;
    }

    figcaption.landing {
        max-width: 90%;
    }

    figcaption.landing a {
        max-width: 100%;
    }

    #landing {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
}

/* Article section */

#articles {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 0 2rem 0;
}

article.article-hero {
    padding-top: 2rem;
    width: 60%;
    border-right: 1px solid lightgrey;
}

article.article-hero figure {
    
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    padding: 0 1.5rem;
}

img.hero {
    width: 100%;
    margin-bottom: 2rem;
}

.article-hero figure figcaption h2 {
    font-size: 2.25rem;
    color:#555353;
    margin-bottom: 1.5rem;
}

.article-hero figure figcaption p {
    color:#555353;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.article-hero figure figcaption span {
    padding-bottom: 2rem;
    font-size: .9rem;
    color:#555353;
}

/* attention ! do not use % width o a class that apply to several element */
/* the reduction will stack */
.side-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(40% - 1px);
    margin-top: 1rem;
}

.article {
    flex-shrink: 2;
    border-bottom: 1px solid lightgrey;

}

.article figure {
    display: flex;
    margin: 1rem;
}


.article figure picture {
    height: auto;
    width: 35%;
}

.article figure picture img {
    width: 100%;
}

.article figure figcaption {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: auto;
    max-width: 60%;
}

.article figure figcaption h3 {
    padding: 0.5rem 0;
    font-size: 1.3rem;
    color:#555353;
}

.article figure figcaption p {
    padding: 0.5rem 0;
    color:#555353;
}

.article figure figcaption a {
    text-decoration: none;
}

.article-guest {
    background-color: lightgray;
}

@media only screen and (max-width: 890px){
    #articles {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    article.article-hero {
        width: 100%;
        border-right: none;
    }

    .article {
        border-top: 1px solid lightgrey;
        border-bottom: none;
    }

    .article figure picture img,
    .article figure picture {
        width: 100%; 
        height: auto;
        overflow: hidden;
    }

    .side-info-wrapper {
        width: 100%;
    }

    .article-guest {
        background-color: #fff;
    }

    .article figure {
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    article.article-hero {
        display: none;
    }

    .article {
        border-top: none;
        border-bottom: 1px solid lightgrey;
    }
}

/* learning */

#learning {
    padding: 2rem 4.5rem;
    background-color: lightgray;
}

#learning h2 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    color:#555353;
}

.learning-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.learning-item {
    max-width: 30%;
    background: #fff;
}
.learning-item figure img {
    width: 100%;
    height: auto;
    overflow:hidden;
}

.learning-item figure figcaption {
    padding: 1rem;
    color:#555353;
}

.learning-item figure figcaption span {
    display:block;
    padding: 0.5rem 0;
}

.learning-item figure figcaption p {
    text-transform:capitalize;
}

@media only screen and (max-width:890px) {
    #learning {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        background-color: #fff;
        padding: 2rem 1rem;
    }

    .learning-wrapper {
        flex-direction: column;
        gap: 0.5rem;
    }

    .learning-item {
        max-width: 100%;
        background-color: lightgray;
        padding: 1rem 1rem 1.5rem 1rem;

    }
    
    .learning-item figure img,
    .learning-item figure figcaption span,
    .learning-item figure figcaption p
     {
        display: none;
    }
}
/* Thesis */
#thesis {
    padding: 2rem 0;
}

#thesis h2 {
    font-size: 2rem;
    color:#555353;
    text-align: center;
    padding-bottom: 2rem;
}

.thesis-main-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0rem 0 0;
    display: flex;
}

.thesis-video-wrapper {
    width: 60%;
    padding: 0 1.5rem;
}

.thesis-video-wrapper video {
    max-width: 100%;
}

.thesis-video-wrapper h3 {
    padding: 1.5rem 0 0.5rem 0; 
    color:#2b2a2a;
}

.thesis-video-wrapper p {
    color:#555353;
}

.thesis-column-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}

.thesis-column-wrapper article {
    padding: 1rem;
}

.thesis-column-wrapper article:first-of-type {
    background-color: lightgrey;
}

.thesis-column-wrapper article figure {
    display: flex;
}

.thesis-column-wrapper article figure img {
    width: 35%;
    height: auto;
}

.thesis-column-wrapper article figcaption {
    width: 65%;
    padding: 1rem;
}

.thesis-column-wrapper article figcaption h3 {
    color:#2b2a2a;
}

.thesis-column-wrapper article figcaption p {
    padding-top: 1rem;
    color:#555353
}

@media only screen and (max-width:890px) {
    .thesis-video-wrapper {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
        
    .thesis-column-wrapper {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .thesis-video-wrapper {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .thesis-video-wrapper h3,
    .thesis-video-wrapper p {
        display: none;
    }
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    height: 4rem;
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
}

footer p {
    color:#555353
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    color:#555353;
    padding: 0 0.5rem;
}

@media only screen and (max-width:480px) {
    footer ul {
        display: none;
    }
}